.page_title {
    font-size: 15px;
    padding: 12px 0;
    font-size: 23px;
    color: #444444;
}

/* Container */
.body_container {
    height: 630px;
    width: 100%;
    border: 1px solid #D2D5DC;
    border-top: 4px solid #D2D5DC;
    background-color: white;
}